@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none; 
}

.blurred-background {
  backdrop-filter: blur(10px); 
  background-color: rgba(255, 255, 255, 0.6);
}
